.primary{
  font-size: 24px;
  border: solid 3px #000;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  font-weight: 500;
  text-decoration:none;

}
.secondary{
  font-size: 24px;
  background-color: #FF5A00;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  font-weight: 500;
  color: #fff;
  font-weight: 500;
  text-decoration:none;

}