.details {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  font-family: "Ubuntu", sans-serif;
  background-color: #111111;
  align-items: center;
  justify-content: center;
  
  
}
.productContainer{
  display: flex;
  width: 80%;
  overflow-x: scroll;
  scroll-behavior: smooth; // Habilitando scroll suave
  scrollbar-width: none; // Oculta a barra de rolagem do Firefox
  -ms-overflow-style: none; // Oculta a barra de rolagem do Internet Explorer
  
  
  
}

.productContainer::-webkit-scrollbar {
  display: none; // Oculta a barra de rolagem do Chrome e Safari
}
.productItem{
  
  
}
.buttons{
  top: 5%;
  width: 80%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  
}
