.details {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
}

.imageContainer {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  max-width: 500px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 500px;
  opacity: 1; /* Garante que a imagem seja visível */
  transition: opacity 0.5s ease; /* Transição de opacidade suave */
}

.detailsText {
  width: 80%;
  height: 100px;
  text-align: center;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  height: 100%;
}

.imagem {
  opacity: 0; /* Configura a opacidade inicial para 0 */
}

.transicao {
  opacity: 1; /* Configura a opacidade para 1 quando a classe 'transicao' é aplicada */
}
