// styles/index.module.scss

.hidden {
  display: none;
  opacity: 0; // Opacidade 0 para esconder suavemente
  transition: opacity 0.5s ease; // Transição de opacidade suave
}

.visible {
  display: block;
  opacity: 1; // Opacidade 1 para mostrar suavemente
  transition: opacity 0.5s ease; // Transição de opacidade suave
}

// Adicione outras classes aqui conforme necessário
