/* index.module.scss */
.container{
  height: fit-content;
}
.hidden {
  display: none; /* Oculta a div */
  height: 0%;
  overflow: hidden;
}

.visible {
  display: block; /* Exibe a div */
  height: 100%;
}
